.category-card {
    display: block;
    background: $nc-color-fantasy;
    border-radius: 35px;
    padding: 30px 0;
    transition: 0.3s;
    position: relative;

    &:hover {
        background: #F0E6D0;
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        display: block;
        margin-top: 17px;
        font-size: 18px;
        text-align: center;
        text-decoration: none !important;
        color: #000 !important;
    }
}

.brand-card {
    position: relative;
    display: block;

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #fff;
        border-radius: 35px;
        padding: 35px;
        aspect-ratio: 300 / 197;
        overflow: hidden;

        &::after {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #fff;
            opacity: 0;
            transition: 0.3s;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__title {
        display: block;
        text-decoration: none !important;
        color: #000;
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.2;
        padding: 0 15px;
    }

    &:hover &__title {
        color: $nc-color-ribbon !important;
    }
    &:hover &__image::after {
        opacity: 0.25;
    }
}

.categories-list {
    a {
        display: flex;
        align-items: center;
        height: 56px;
        border-radius: 22px;
        transition: 0.3s;
        color: #000;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
            background: #fff;
        }
    }
}

.brand-detail {
    &__img {
        position: relative;
        height: 435px;
        border-radius: 35px;
        overflow: hidden;
        margin-bottom: 25px;

        & > img {
            display: block;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__img &__logo {
        position: absolute;
        top: 8px;
        left: 8px;
        margin-bottom: 0;
    }

    &__logo {
        width: 280px;
        height: 150px;
        border-radius: 30px;
        background: #fff;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        & > img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    h1, .h1 {
        margin-bottom: 10px;
    }


    &__date-list {
        background: $nc-color-fantasy;
        border-radius: 35px;
        padding: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__date {
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.6);

        b {
            color: #000;
            font-weight: 900;
            font-size: 45px;
            margin-bottom: 5px;
            line-height: 1;
        }
    }
}