.category-card {
    display: block;
    background: $nc-color-fantasy;
    border-radius: 35px;
    padding: 30px 0;
    transition: 0.3s;
    position: relative;
    height: 100%;

    &:hover {
        background: #F0E6D0;
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        display: block;
        margin-top: 17px;
        font-size: 18px;
        text-align: center;
        text-decoration: none !important;
        color: #000 !important;
        line-height: 1.1;
    }
}

.categories-list {
    a {
        display: flex;
        align-items: center;
        height: 56px;
        border-radius: 22px;
        transition: 0.3s;
        color: #000;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
            background: #fff;
        }
    }
}

.categories-dropdown {
    width: auto;

    & > .btn {
        background: #fff !important;
    }

    .dropdown-menu {
        a {
            display: flex;
            align-items: center;
            height: 56px;
            border-radius: 22px;
            transition: 0.3s;
            color: #000;
            text-decoration: none;
            padding: 0 20px;

            &:hover {
                background: #fff;
            }
        }
    }
}

.main-categories {
    --row-scroll-column-count: 4;
    --row-scroll-gap: 10px;
}

.brand-card {
    position: relative;
    display: block;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #fff;
        border-radius: 35px;
        padding: 35px;
        aspect-ratio: 300 / 197;
        overflow: hidden;

        &::after {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #fff;
            opacity: 0;
            transition: 0.3s;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__title {
        display: block;
        text-decoration: none !important;
        color: #000;
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.2;
        padding: 0 15px;
    }

    &:hover &__title {
        color: $nc-color-ribbon !important;
    }
    &:hover &__image::after {
        opacity: 0.25;
    }
}

.brand-detail {
    display: grid;
    grid-template-columns: auto 320px;
    gap: 10px 20px;

    &__right {
        grid-row: span 2;
    }

    &__img {
        position: relative;
        height: 435px;
        border-radius: 35px;
        overflow: hidden;
        margin-bottom: 25px;

        & > img {
            display: block;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__img &__logo {
        position: absolute;
        top: 8px;
        left: 8px;
        margin-bottom: 0;
    }

    &__logo {
        width: 280px;
        height: 150px;
        border-radius: 30px;
        background: #fff;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        & > img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    h1, .h1 {
        margin-bottom: 10px;
    }

    &__date-list {
        background: $nc-color-fantasy;
        border-radius: 35px;
        padding: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__date {
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.6);

        b {
            color: #000;
            font-weight: 900;
            font-size: 45px;
            margin-bottom: 5px;
            line-height: 1;
        }
    }

    &__products {
        --row-scroll-column-count: 3;
        --row-scroll-gap: 10px;

        margin-bottom: 25px;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-image {
            border-radius: 35px;
            background: $nc-color-fantasy;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            aspect-ratio: 297 / 317;
        }

        &-name {
            font-size: 18px;
            padding: 0 15px;
        }
    }
}

@media (max-width: map-get($grid-breakpoints, md)) {
    .category-card {
        border-radius: 28px;
        padding: 15px 3px;
        &__title {
            margin-top: 2px;
            font-size: 14px;
        }
    }

    .categories-list {
        a {
            padding: 0;
        }
    }

    .categories-dropdown {
        margin-bottom: 30px;

        .dropdown-menu {
            --bs-dropdown-bg: #fff;
        }
    }

    .main-categories {
        & > * {
            width: 305px;
        }
    }

    .brand-detail {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__right {
            margin-bottom: 60px;
        }

        &__img {
            height: 250px;
            border-radius: 0;
            margin-bottom: 30px;
            margin-left: -20px;
            margin-right: -20px;
        }

        &__img &__logo {
            top: 10px;
            left: 10px;
            width: 148px;
            height: 80px;
        }

        &__logo {
            width: 100%;
            height: auto;
            border-radius: 16px;
            padding: 5px;
            margin-bottom: 30px;
        }

        &__products {
            & > * {
                width: 296px;
            }
        }

        &__date {
            b {
                font-size: 35px;
            }
        }
    }
}

@media (min-width: map-get($grid-breakpoints, md) + 1) {
    .categories-dropdown {
        [data-bs-toggle="dropdown"] {
            display: none;
        }

        .dropdown-menu {
            display: block !important;
            position: static !important;
            padding: 0;
            margin: 0 !important;
            transform: none !important;
            transition: none;
        }

    }
}