body {
    min-width: map-get($container-max-widths, xl);
}

a {
    transition: 0.3s;

    &.round {
        min-width: 60px;
        width: auto !important;
        height: 60px !important;
        border-radius: 30px;
        background: $nc-color-fantasy;

        &:hover {
            background: $nc-color-citrine;
        }
    }

    &.whatsapp, &.vk, &.tg, &.ok, &.share, &.site {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        position: relative;

        &::before {
            display: inline-block;
            content: "";
            height: 100%;
            aspect-ratio: 1 / 1;
            background: transparent no-repeat center;
        }
    }

    &.whatsapp {
        &::before {
            background-image: url(../images/wa_ico.svg);
        }
    }

    &.vk {
        &::before {
            background-image: url(../images/vk_ico.svg);
        }
        &.dark::before {
            background-image: url(../images/vk_ico_b.svg);
        }
    }

    &.tg {
        &::before {
            background-image: url(../images/tg_ico.svg);
        }
        &.dark::before {
            background-image: url(../images/tg_ico_b.svg);
        }
    }

    &.ok {
        &::before {
            background-image: url(../images/ok_ico_b.svg);
        }
    }

    &.share {
        &::before {
            background-image: url(../images/share_ico_b.svg);
        }
    }

    &.site {
        color: #000;
        text-decoration: none !important;
        padding-right: 20px;
        &::before {
            background-image: url(../images/site_ico_b.svg);
        }
    }

    &.store {
        display: flex;
        align-items: center;
        position: relative;
        height: 60px;
        border-radius: 60px;
        padding: 4px;
        text-decoration: none;
        background: $nc-color-ribbon;
        color: #fff;
        transition: 0.3s;
        line-height: 1.1;
        font-size: 14px;

        &::before {
            display: inline-block;
            content: "";
            min-width: 52px;
            height: 52px;
            background: transparent url(../images/store_logo.svg) no-repeat left / contain;
            margin-right: 10px;
        }

        &:hover {
            background-color: shade-color($nc-color-ribbon, 15%);
        }
    }
}

.content-links {
    margin-top: 25px;
    display: flex;
    gap: 5px;
}

.inner {
    max-width: 100%;
    max-height: 100%;
}

.btn {
    height: $control-height-1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        text-decoration: none;
    }

    &.btn-round {
        border-radius: 28px;
    }

    &.btn-ico {
        padding-left: 20px;
        padding-right: 20px;
        gap: 10px;
        font-size: $h6-font-size;
        line-height: 1.1;
        text-align: left;
        justify-content: flex-start;
    }
}

.btn-close {
    background-color: #FAEFDB;
    border-radius: 50%;
    opacity: 1;
}

.decorated {
    position: relative;

    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 60px;
        height: 130px;
        left: -$container-padding-x / 2;
        top: 0;
        background: transparent url(../images/decor.svg) no-repeat center / contain;
    }
}

.swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: calc(50% - #{map-get($container-max-widths, xl)} / 2);

    &::after {
        content: "";
        font-size: 0;
        width: 80%;
        height: 80%;
        background: transparent url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00049 14.1922L7.47363 7.59594L1.00049 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
        transform: rotate(180deg);
    }
}

.swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    right: calc(50% - #{map-get($container-max-widths, xl)} / 2);

    &::after {
        content: "";
        font-size: 0;
        width: 80%;
        height: 80%;
        background: transparent url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00049 14.1922L7.47363 7.59594L1.00049 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
    }
}

.form-control::placeholder {
    transition: 0.3s;
    opacity: 0.4;
}

.form-control:hover::placeholder {
    opacity: 1;
}

.go-link {
    display: inline-flex;
    text-decoration: none !important;
    position: relative;
    height: 40px;
    vertical-align: middle;
    align-items: center;
    transition: 0.3s;
    color: #000;

    &::after {
        display: inline-block;
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 15px;
        background: $nc-color-fantasy url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53109 0.330984C5.97247 -0.110297 6.68793 -0.110359 7.12928 0.330984L14.3218 7.52354C14.7631 7.96489 14.7631 8.68037 14.3218 9.12172L7.12928 16.3143C6.68793 16.7556 5.97247 16.7556 5.53109 16.3143C5.08972 15.8729 5.08972 15.1575 5.53109 14.7161L10.7944 9.45284H0V7.19242H10.7944L5.53109 1.92917C5.08972 1.48779 5.08972 0.772357 5.53109 0.330984Z' fill='currentColor'/%3E%3C/svg%3E") no-repeat center;
    }

    &:hover {
        color: $nc-color-ribbon;
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53109 0.330984C5.97247 -0.110297 6.68793 -0.110359 7.12928 0.330984L14.3218 7.52354C14.7631 7.96489 14.7631 8.68037 14.3218 9.12172L7.12928 16.3143C6.68793 16.7556 5.97247 16.7556 5.53109 16.3143C5.08972 15.8729 5.08972 15.1575 5.53109 14.7161L10.7944 9.45284H0V7.19242H10.7944L5.53109 1.92917C5.08972 1.48779 5.08972 0.772357 5.53109 0.330984Z' fill='%23E40527'/%3E%3C/svg%3E");
        }
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2, .h2 {
        margin-bottom: 0;
    }
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 60px;
        border-radius: 30px;
        padding: 20px;
        transition: 0.3s;
        color: #000;
        background: rgba(250, 205, 212, 0.25);
        &:hover {
            background: rgba(250, 205, 212, 0.5);
        }
    }
}

.text-center .links-list {
    justify-content: center;
}

.left-menu {
    padding-top: 100px;
}

.breadcrumb {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0.5;

    &__item {
        margin: 0;
        padding: 0 15px;
        position: relative;
        color: $nc-color-ribbon;

        a {
            color: #000 !important;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &::before {
            display: block;
            content: "";
            position: absolute;
            width: 0;
            height: 14px;
            top: calc(50% - 7px);
            left: 0;
            border-left: 1px solid #000;
        }

        &:first-child {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
}

.dropdown {
    width: 240px;

    .dropdown-item {
        border-radius: 20px;
    }

    & > .btn {
        width: 100%;
        position: relative;
        padding-left: $dropdown-item-padding-x;
        padding-right: $dropdown-item-padding-x;

        &.filter {
            justify-content: space-between;

            &::after {
                position: relative;
                z-index: 1001;
                content: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.311903 0.245878C0.709514 -0.0975129 1.33402 -0.0789546 1.70678 0.287329L6.9079 5.39808L12.109 0.28733C12.4818 -0.0789543 13.1063 -0.0975125 13.5039 0.245879C13.9015 0.58927 13.9216 1.16458 13.5489 1.53086L8.20379 6.7831C7.50201 7.47268 6.31378 7.47268 5.61201 6.7831L0.266907 1.53086C-0.105853 1.16457 -0.0857074 0.589269 0.311903 0.245878Z' fill='%231E1E1E'/%3E%3C/svg%3E");
                display: inline-block;
            }

            &[aria-expanded="true"]::after {
                transform: rotate(180deg);
            }
        }

        &.sort {
            justify-content: space-between;

            &::after {
                position: relative;
                z-index: 1001;
                width: 20px;
                height: 20px;
                content: "";
                display: inline-block;
                background: transparent url(../images/sort_ico.svg) no-repeat center;
            }

        }

    }
    .dropdown-menu {
        width: 100%;
        overflow: hidden;

        &[data-popper-placement="bottom-start"] {
            margin-top: -18px !important;
            border-radius: 0 0 25px 25px;
        }
        &[data-popper-placement="top-start"] {
            margin-bottom: -18px !important;
            border-radius: 25px 25px 0 0;
        }
    }
}

.sort-bar {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}


.gallery {
    margin-top: 55px;

    &__img {
        aspect-ratio: 297 /213;
        border-radius: 25px;

        &::after {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #fff;
            opacity: 0;
            transition: 0.3s;
            z-index: 1;
        }

        &:hover::after {
            opacity: 0.25;
        }
    }

    &__show-all {
        margin-top: 15px;
        display: inline-block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.image-container {
    display: block;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav-pills {
    display: flex;
    gap: 7px;

    .btn {
        height: 45px;
        border-radius: 18px;
    }
    .btn-outline {
        border: 2px solid #FBF4E7;

        &.active, &:hover {
            border-color: $nc-color-ribbon;
        }
    }
}