body {
    --container-min-width: #{map-get($container-min-widths, xl)};

    &::before {
        content: '';
        position: fixed;
        z-index: 1090;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    &.menu-open {
        overflow: hidden;
        touch-action: none;
        position: fixed;
        width: 100%;
        height: 100%;

        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    min-width: var(--container-min-width);
}

.container {
    min-width: var(--container-min-width);
}

a {
    transition: 0.3s;

    &.round {
        min-width: 60px;
        width: auto !important;
        height: 60px !important;
        border-radius: 30px;
        background: $nc-color-fantasy;

        &:hover {
            background: $nc-color-citrine;
        }
    }

    &.whatsapp, &.vk, &.tg, &.ok, &.share, &.site {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        position: relative;

        &::before {
            display: inline-block;
            content: "";
            height: 100%;
            aspect-ratio: 1 / 1;
            background: transparent no-repeat center;
        }
    }

    &.whatsapp {
        &::before {
            background-image: url(../images/wa_ico.svg);
        }
    }

    &.vk {
        &::before {
            background-image: url(../images/vk_ico.svg);
        }
        &.dark::before {
            background-image: url(../images/vk_ico_b.svg);
        }
    }

    &.tg {
        &::before {
            background-image: url(../images/tg_ico.svg);
        }
        &.dark::before {
            background-image: url(../images/tg_ico_b.svg);
        }
    }

    &.ok {
        &::before {
            background-image: url(../images/ok_ico_b.svg);
        }
    }

    &.share {
        &::before {
            background-image: url(../images/share_ico_b.svg);
        }
    }

    &.site {
        color: #000;
        text-decoration: none !important;
        padding-right: 20px;
        &::before {
            background-image: url(../images/site_ico_b.svg);
        }
    }

    &.store {
        display: flex;
        align-items: center;
        position: relative;
        height: 60px;
        border-radius: 60px;
        padding: 4px;
        text-decoration: none;
        background: $nc-color-ribbon;
        color: #fff;
        transition: 0.3s;
        line-height: 1.1;
        font-size: 14px;

        &::before {
            display: inline-block;
            content: "";
            min-width: 52px;
            height: 52px;
            background: transparent url(../images/store_logo.svg) no-repeat left / contain;
            margin-right: 10px;
        }

        &:hover {
            background-color: shade-color($nc-color-ribbon, 15%);
        }
    }
}

.go-link {
    display: inline-flex;
    text-decoration: none !important;
    position: relative;
    height: 40px;
    vertical-align: middle;
    align-items: center;
    transition: 0.3s;
    color: #000;

    &::after {
        display: inline-block;
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 15px;
        background: $nc-color-fantasy url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53109 0.330984C5.97247 -0.110297 6.68793 -0.110359 7.12928 0.330984L14.3218 7.52354C14.7631 7.96489 14.7631 8.68037 14.3218 9.12172L7.12928 16.3143C6.68793 16.7556 5.97247 16.7556 5.53109 16.3143C5.08972 15.8729 5.08972 15.1575 5.53109 14.7161L10.7944 9.45284H0V7.19242H10.7944L5.53109 1.92917C5.08972 1.48779 5.08972 0.772357 5.53109 0.330984Z' fill='currentColor'/%3E%3C/svg%3E") no-repeat center;
    }

    &:hover {
        color: $nc-color-ribbon;
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53109 0.330984C5.97247 -0.110297 6.68793 -0.110359 7.12928 0.330984L14.3218 7.52354C14.7631 7.96489 14.7631 8.68037 14.3218 9.12172L7.12928 16.3143C6.68793 16.7556 5.97247 16.7556 5.53109 16.3143C5.08972 15.8729 5.08972 15.1575 5.53109 14.7161L10.7944 9.45284H0V7.19242H10.7944L5.53109 1.92917C5.08972 1.48779 5.08972 0.772357 5.53109 0.330984Z' fill='%23E40527'/%3E%3C/svg%3E");
        }
    }
}

.content-links {
    margin-top: 25px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.btn {
    height: $control-height-1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        text-decoration: none;
    }

    &.btn-round {
        border-radius: 28px;
    }

    &.btn-ico {
        padding-left: 20px;
        padding-right: 20px;
        gap: 10px;
        font-size: $h6-font-size;
        line-height: 1.1;
        text-align: left;
        justify-content: flex-start;
    }
}

.btn-close {
    background-color: #FAEFDB;
    border-radius: 50%;
    opacity: 1;
}

.inner {
    max-width: 100%;
    max-height: 100%;
}

.decorated {
    position: relative;

    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 60px;
        height: 130px;
        left: -$container-padding-x / 2;
        top: 0;
        background: transparent url(../images/decor.svg) no-repeat center / contain;
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2, .h2 {
        margin-bottom: 0;
    }
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 60px;
        border-radius: 30px;
        padding: 20px;
        transition: 0.3s;
        color: #000;
        background: rgba(250, 205, 212, 0.25);
        &:hover {
            background: rgba(250, 205, 212, 0.5);
        }
    }
}

.text-center .links-list {
    justify-content: center;
}

.dropdown {
    width: 240px;

    .dropdown-item {
        border-radius: 20px;
    }

    & > .btn {
        width: 100%;
        position: relative;
        padding-left: $dropdown-item-padding-x;
        padding-right: $dropdown-item-padding-x;

        &.filter {
            justify-content: space-between;

            &::after {
                position: relative;
                z-index: 1001;
                content: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.311903 0.245878C0.709514 -0.0975129 1.33402 -0.0789546 1.70678 0.287329L6.9079 5.39808L12.109 0.28733C12.4818 -0.0789543 13.1063 -0.0975125 13.5039 0.245879C13.9015 0.58927 13.9216 1.16458 13.5489 1.53086L8.20379 6.7831C7.50201 7.47268 6.31378 7.47268 5.61201 6.7831L0.266907 1.53086C-0.105853 1.16457 -0.0857074 0.589269 0.311903 0.245878Z' fill='%231E1E1E'/%3E%3C/svg%3E");
                display: inline-block;
            }

            &[aria-expanded="true"]::after {
                transform: rotate(180deg);
            }
        }

        &.sort {
            justify-content: space-between;

            &::after {
                position: relative;
                z-index: 1001;
                width: 20px;
                height: 20px;
                content: "";
                display: inline-block;
                background: transparent url(../images/sort_ico.svg) no-repeat center;
            }

        }

    }
    .dropdown-menu {
        width: 100%;
        overflow: hidden;

        &[data-popper-placement="bottom-start"] {
            margin-top: -18px !important;
            border-radius: 0 0 25px 25px;
        }
        &[data-popper-placement="top-start"] {
            margin-bottom: -18px !important;
            border-radius: 25px 25px 0 0;
        }
    }
}

.image-container {
    display: block;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.row-scroll {
    --row-scroll-column-count: 4;
    --row-scroll-gap: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--row-scroll-gap);

    & > * {
        flex: 0 0 auto;
        width: calc((100% / var(--row-scroll-column-count)) - (var(--row-scroll-gap) * (var(--row-scroll-column-count) - 1) / var(--row-scroll-column-count)));
    }
}

.breadcrumb {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    row-gap: 5px;
    flex-wrap: wrap;

    &__item {
        margin: 0;
        padding-right: 30px;
        position: relative;
        color: $nc-color-ribbon;

        a {
            color: #000 !important;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            width: 0;
            height: 14px;
            top: calc(50% - 7px);
            right: 15px;
            border-left: 1px solid #000;
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.nav-pills {
    display: flex;
    gap: 7px;

    .btn {
        height: 45px;
        border-radius: 18px;
        line-height: 1;
    }
    .btn-outline {
        border: 2px solid #FBF4E7;

        &.active, &:hover {
            border-color: $nc-color-ribbon;
        }
    }
}

.left-menu {
    padding-top: 100px;

    &__header {
        display: none;
    }
}

.sort-bar {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.gallery {
    margin-top: 55px;

    &__img {
        aspect-ratio: 297 /213;
        border-radius: 25px;

        &::after {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #fff;
            opacity: 0;
            transition: 0.3s;
            z-index: 1;
        }

        &:hover::after {
            opacity: 0.25;
        }
    }

    &__show-all {
        margin-top: 15px;
        display: inline-block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


@media (max-width: map-get($grid-breakpoints, xl)) {
    body {
        --container-min-width: #{map-get($container-min-widths, xs)};
    }
    .container {
        --bs-gutter-x: 2.5rem;
    }

    h1, .h1 {
        font-size: 35px;
        line-height: 1;
    }

    h2, .h2 {
        font-size: 28px;
        line-height: 1;
    }

    a {
        &.site {
            width: 100% !important;
            justify-content: flex-start;
        }
    }

    .go-link {
        display: block;
        width: 40px;
        min-width: 40px;
        color: transparent !important;
        font-size: 1px !important;

        &::after {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: 0;
        }
    }

    .fs-xs-6 {
        font-size: 14px;
    }

    .row-scroll {
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        padding: 0 calc(0.5 * var(--bs-gutter-x)) 10px calc(0.5 * var(--bs-gutter-x));

        & > * {
            width: auto;
        }
    }

    .links-list {
        a {
            font-size: 14px;
            height: 45px;
        }
    }

    .left-menu {
        --bs-offcanvas-width: 100%;
        --bs-offcanvas-padding-y: 20px;
        --bs-offcanvas-padding-x: 20px;

        padding-top: 77px;
        z-index: 1100;

        .offcanvas-body {
            position: relative;
            padding-top: 0;
            padding-bottom: 0;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 77px;
            padding: 0 var(--bs-offcanvas-padding-x);
            font-size: 22px;
            font-weight: 700;
        }
    }

    .nav-pills {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;

        .btn-outline:hover {
            border-color: #FBF4E7;
        }

        .btn-outline.active {
            border-color: $nc-color-ribbon !important;
        }
    }

    .gallery {
        margin-top: 70px;

        &__img {
            border-radius: 15px;
        }
    }

    .decorated {
        &::before {
            display: none;
        }
    }

    .sort-bar {
        flex-direction: column;
        padding: 0;

        & > * {
            width: auto;
        }
    }
}