.advantage {
    &__row {
        --row-scroll-column-count: 4;
        --row-scroll-gap: 36px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__img {
        max-width: 100%;
    }
    &__title {
        margin-top: 12px;
        opacity: 0.6;
        padding: 0 15px;
    }
}

.sec-join {
    $content-width: 670px;
    overflow: hidden;

    .container {
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: calc(#{$content-width} + #{$container-padding-x*0.5});
            bottom: 0;
            width: 1009px;
            height: 445px;
            background: transparent url(../images/bg1.png) no-repeat center;
        }
    }

    &__inner {
        background: $nc-color-fantasy;
    }

    &__content {
        width: $content-width;
    }

    .btn {
        width: 330px;
    }
}

.sec-promo {
    .slider-wrapper {
        position: relative;
        &::before {
            display: block;
            position: absolute;
            content: "";
            top: -78px;
            left: 0;
            width: 100%;
            height: 107px;
            z-index: 100;
            background: transparent url("data:image/svg+xml,%3Csvg width='1920' height='108' viewBox='0 0 1920 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-13.1641 30C-13.1641 30 579.86 0 959.999 0C1340.14 0 1933.16 30 1933.16 30V107.178C1933.16 107.178 1340.14 77.1777 959.999 77.1777C579.86 77.1777 -13.1641 107.178 -13.1641 107.178V30Z' fill='white'/%3E%3C/svg%3E") no-repeat top center / cover;
        }
        &::after {
            display: block;
            position: absolute;
            content: "";
            bottom: -78px;
            left: 0;
            width: 100%;
            height: 107px;
            z-index: 100;
            transform: rotate(180deg);
            background: transparent url("data:image/svg+xml,%3Csvg width='1920' height='108' viewBox='0 0 1920 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-13.1641 30C-13.1641 30 579.86 0 959.999 0C1340.14 0 1933.16 30 1933.16 30V107.178C1933.16 107.178 1340.14 77.1777 959.999 77.1777C579.86 77.1777 -13.1641 107.178 -13.1641 107.178V30Z' fill='white'/%3E%3C/svg%3E") no-repeat top center / cover;
        }
    }
}

.sec-partners {
    position: relative;
    overflow: hidden;
    line-height: 1.3;

    &::before {
        display: block;
        position: absolute;
        content: "";
        aspect-ratio: 1920 / 1376;
        width: 100%;
        min-width: 1920px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -104px;
        background: transparent url(../images/partners_bg.png) no-repeat bottom center / contain;
        z-index: -1;
    }

    &__subtitle {
        font-size: 18px;
        width: 700px;
        max-width: 100%;
        margin-bottom: 37px;
        line-height: 1.3;
    }

    &__info {
        padding: 55px;
        background: $nc-color-fantasy;
        border-radius: 107px 107px 107px 0;
        margin-left: -$container-padding-x / 2;
        margin-right: -$container-padding-x / 2;
    }

    &__conditions {
        counter-reset: lc;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;

            &::before {
                font-size: 65px;
                font-weight: 700;
                line-height: 1;
                display: inline-block;
                width: 44px;
                border-bottom: 8px $nc-color-ribbon solid;
                counter-increment: lc;
                content: counters(lc, ".");
                margin-right: 25px;
            }
        }

    }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
    .advantage {
        &__row {
            $item_gap: 15px;

            & > * {
                width: 285px;
            }
        }
    }

    .sec-join {
        .container::before {
            display: none
        }

        &__content {
            width: auto;
        }

        .btn {
            width: 100%;
        }
    }

    .sec-intro {
        .btn {
            width: 100%;
        }
    }

    .sec-partners {
        &::before {
            display: none;
        }

        &__subtitle {
            width: 100%;
            margin-bottom: 146px;
        }

        &__info {
            padding: 30px 20px 90px 20px;
            border-radius: 35px;
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            margin-right: calc(-0.5 * var(--bs-gutter-x));
        }

        &__conditions {
            position: relative;

            &::before {
                display: block;
                position: absolute;
                content: "";
                width: 448px;
                height: 297px;
                top: -190px;
                left: calc(50% + 30px);
                transform: translateX(-50%);
                z-index: -1;
                background: transparent url(../images/partners_bg_m.png) no-repeat center;
            }

            li {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;

                &::before {
                    margin-right: 0;
                }
            }

        }
    }
}