.modal-header {
    padding-bottom: 25px;
}

.modal-body {
    padding-top: 0;
}

.modal-backdrop {
    z-index: 1190;
}

.btn-close {
    background: #FAEFDB  url('../images/close.svg') no-repeat center / auto;
    padding: 0 !important;
}