.news-list {
    &__row {
        --row-scroll-column-count: 4;
        --row-scroll-gap: 20px;
    }
}

.news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
        width: 100%;
        height: 170px;
        border-radius: 30px;
        background: transparent no-repeat center / cover;
        position: relative;
        overflow: hidden;

        &::after {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #fff;
            opacity: 0;
            transition: 0.3s;
        }
    }

    &__title {
        display: block;
        flex-grow: 1;
        font-size: 20px;
        padding: 7px 0;
        line-height: 1.1;
        color: #000 !important;
        text-decoration: none !important;
    }

    &__date {
        color: #000;
        opacity: 0.5;
    }

    &:hover &__title {
        color: $nc-color-ribbon !important;
    }
    &:hover &__image::after {
        opacity: 0.25;
    }
}

.news-detail {
    &__img {
        aspect-ratio: 940 / 537;
        border-radius: 35px;
        margin-bottom: 25px;
    }

    &__description {
        img {
            max-width: 100%;
            margin: 25px 0;
            border-radius: 35px;
        }
    }
}

.news-feed {
    padding-left: 25px;
    border-left: 1px solid rgba(162, 162, 162, 0.4);

    &__item {
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(162, 162, 162, 0.4);
        position: relative;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__name {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;

        &:hover {
            color: $nc-color-ribbon;
        }
    }

    &__category {
        font-size: 14px;
        color: rgba(0,0,0,0.5);
    }

    &__img {
        border-radius: 25px;
        aspect-ratio: 265 / 151;
        margin-bottom: 5px;
    }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
    .news-list {
        &__row {
            & > * {
                width: 305px;
            }
        }
    }

    .news-detail {
        h1, .h1 {
            font-size: 27px;
        }

        &__img {
            border-radius: 0;
            margin-bottom: 20px;
            margin-left: -20px;
            margin-right: -20px;
        }

        &__description {
            img {
                max-width: calc(100% + 40px);
                margin: 25px -20px;
                border-radius: 0;
            }
        }

        .content-links {
            margin-bottom: 70px;
        }
    }

    .news-feed {
        h4, .h4 {
            font-size: 33px;
            line-height: 1;
            margin-bottom: 25px !important;
        }

        padding-left: 0;
        border-left: none;

        &__item {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
}