$r-slide-width: 935px;
$r-slide-gap: 15px;

.review-slider {
    width: ($r-slide-width + $r-slide-gap)*3;
    transform: translateX(calc(-50% + 50vw - 8px));

    .review {
        height: 517px;
        width: 100%;
        background: $nc-color-fantasy;
        border-radius: 65px;
        padding: 40px;
    }

    .swiper-button-prev {
        left: calc(50% - (#{map-get($container-max-widths, xl)} - #{$container-padding-x}) / 2);
    }

    .swiper-button-next {
        right: calc(50% - (#{map-get($container-max-widths, xl)} - #{$container-padding-x}) / 2);
    }

}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__author {
        opacity: 0.5;
        margin-bottom: 5px;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    &__text {
        margin-bottom: 10px;
        flex-grow: 1;
        line-height: 1.35;
    }
    &__date {
        opacity: 0.5;
    }
}

.review-list {
    .review {
        padding: 25px 0;
        border-top: 1px solid rgba(0,0,0,0.1);

        &:first-child {
            border-top: none;
        }
    }
}