.review-list {
    .review {
        padding: 25px 0;
        border-top: 1px solid rgba(0,0,0,0.1);

        &:first-child {
            border-top: none;
        }
    }
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__author {
        opacity: 0.5;
        margin-bottom: 5px;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    &__text {
        margin-bottom: 10px;
        flex-grow: 1;
        line-height: 1.35;
    }
    &__date {
        opacity: 0.5;
    }
}